<h3>TODO Info</h3>
<h5>Total des todos: {{ (todos$ | async)?.length }}</h5>
<!-- <h5>Dernière mise à jour: {{ lastUpdate$ | async | date:'mediumTime' }}</h5> -->

<button class="btn btn-danger btn-sm" (click)="deleteAllTodos()">
  delete all todo
  <span class="fa fa-trash"></span>
</button>
